@model CoffeeLands.Models.OrderProduct
@{
	ViewData["Title"] = "Checkout";
}
@section Styles{
	<style>
		.p-cart{
			padding-left: 20px;
		}
	</style>
}
<section class="home-slider owl-carousel">

	<div class="slider-item" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Checkout</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<form asp-area="" asp-controller="Orders" asp-action="PlaceOrder" class="billing-form ftco-bg-dark p-3 p-md-5" method="post">
		<div class="row">
			<div class="col-xl-8 ftco-animate">
				<div class="billing-form ftco-bg-dark p-3 p-md-5" >
					<h3 class="mb-4 billing-heading">Billing Details</h3>
					<div class="row align-items-end">
						<div class="col-md-12">
							<div class="form-group">
								<label for="firstname">Full Name</label>
								<input type="text" asp-for="Name" class="form-control" placeholder="Enter Full Name">
									<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" asp-for="Tel" class="form-control" placeholder="Enter Phone">
									<span asp-validation-for="Tel" class="text-danger"></span>
							</div>
						</div>
						
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="emailaddress">Email</label>
								<input type="text" asp-for="Email" class="form-control" placeholder="Enter Email">
									<span asp-validation-for="Email" class="text-danger"></span>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="streetaddress">Address</label>
									<input type="text" asp-for="Address" class="form-control" placeholder="Enter Address">
									<span asp-validation-for="Address" class="text-danger"></span>
							</div>
						</div>
						
						<div class="w-100"></div>
						<div class="checkout__input__checkbox">
							<label for="shippingmethod">Shipping Method</label> </br>
							<label for="acc">
								<input name="shipping_method" value = "express" type = "radio" id = "acc" >
								Express
								<span class="checkmark"></span>
								</label>
								<br />
								<label for="free">
									<input name="shipping_method"  value = "free_shipping" type = "radio" id = "free" >
								Free Shipping
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div><!-- END -->
			</div> <!-- .col-md-8 -->

			<div class="col-xl-4 sidebar ftco-animate">
				<div style="margin-bottom:20px;">
					<div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
						<h3 class="billing-heading mb-4">Cart Total</h3>
						<p class="d-flex p-cart">
							<span>Subtotal</span>
								<span>$@ViewBag.Subtotal</span>
						</p>
						<p class="d-flex p-cart">
							<span>Delivery</span>
							<span id="deliveryValue">$0</span>
						</p>
						<p class="d-flex p-cart" >
							<span>VAT</span>
							<span id="discountValue">10%</span>
						</p>
						<hr>
						<p class="d-flex total-price p-cart">
							<span>Total</span>
							<span id="totalValue">$@ViewBag.GrandTotal</span>
								<input type="hidden" name="grandTotal" value="@ViewBag.GrandTotal" />
						</p>
					</div>
				</div>
				<div >
					<div class="cart-detail ftco-bg-dark p-3 p-md-4">
						<h3 class="billing-heading mb-4">Payment Method</h3>
						<div class="form-group">
							<div class="col-md-12">
								<div class="radio">
										<label><input type="radio" name="payment_method" value="vnpay" class="mr-2"> Direct Bank Tranfer</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="radio">
									<label><input type="radio" name="payment_method" value="momo" class="mr-2"> Momo</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="radio">
									<label><input type="radio" name="payment_method" value="paypal" class="mr-2"> Paypal</label>
								</div>
							</div>
						</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="payment_method" value="COD" class="mr-2"> COD</label>
									</div>
								</div>
							</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="checkbox">
									<label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
								</div>
							</div>
						</div>
							<button type="submit" class="btn btn-primary py-3 px-4" style="background-color: #c49b63;color: #000 !important; margin-bottom: 20px;">Place an order</button>
					</div>
				</div>
			</div>

		</div>
	</form>
	</div>
</section> <!-- .section -->
