@{
    ViewData["Title"] = "Index";
    Layout = null; // Bỏ qua layout

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    @await Html.PartialAsync("../Admin/Layout/Css")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        @await Html.PartialAsync("../Admin/Layout/NavBar")
        @await Html.PartialAsync("../Admin/Layout/SideBar")
        @RenderBody()


        @await Html.PartialAsync("../Admin/Layout/Footer")
    </div>
    <!-- ./wrapper -->
    @await Html.PartialAsync("../Admin/Layout/Script")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

