<footer class="main-footer">
    <strong>Copyright &copy; 2024 by <a href="https://github.com/Group5-T2210A/Coffee.git">Group 5</a>.</strong>

</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->