<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeLands</title>
    
    @await Html.PartialAsync("../Home/Layouts/Css")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @if (ViewBag.ShowNavBar == true)
    {
        @await Html.PartialAsync("../Home/Layouts/NavBar")

    }

        @RenderBody()

    @await Html.PartialAsync("../Home/Layouts/Footer")
    
    
    @await Html.PartialAsync("../Home/Layouts/Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
