<li class="nav-item cart">
    <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link">
        <span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center" style="color: #f3f3f3;">@ViewBag.Quantity</span>
    </a>
</li>